ul#tab  li{
  width:180px;
  height: 45px;
  background: #ccc;
  line-height: 45px;
  text-align: center;
  margin-left: 15px
}
ul#tab  li>a {
  display:inline-block;
  text-decoration:none;
  width:180px;
  height: 45px;
}
.contents{
  position: relative;
}
#content1,#content2{
	width: 100%;
	height: 100px;
	padding:30px;
	position: absolute;
}
#content2{
  display: none;
}
.pd-img img{
  width: 120px;
  height: 120px;
  padding: 10px;
  border:1px solid #ccc;
  margin-top: 20px;
}

.col-6 img{
  width: 510px;
  height: 510px;
}
.img-none{
  display: none;
}
#img-detail{
  height: 420px;
  background: url(../images/note1-md.jpg) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
#lgDiv{
  height: 420px;
  width: 380px;
  overflow: hidden;
  background: url(../images/note1-lg.jpg) no-repeat;
  background-size: 1000px 1000px;
  background-position: center center;
 
  display: none;
  
}
